{% extends 'cms/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{client_details.name}}</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                <a href="mailto:{{client_details}}" class="btn btn-outline-primary">Send email</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <p><span><i class="fas fa-globe" style='color:blue; font-size: 24px;'></i><span> </span>Website <span>{{client_details.website}}</span></p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <p><span><i class="fab fa-facebook" style='color:#4267B2; font-size: 24px;'></i><span> </span>Facebook <span>{{client_details.facebook}}</span></p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <p><span><i class="fab fa-instagram" style='color:#8a3ab9; font-size: 24px;'></i><span> </span>Instagram <span>{{client_details.instagram}}</span></p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <p><span><i class="fab fa-linkedin" style='color:#0077b5; font-size: 24px;'></i><span> </span>Linkedin <span>{{client_details.linkedin}}</span></p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <p><span><i class="fab fa-twitter-square" style='color:#1DA1F2; font-size: 24px;'></i><span> </span>Twitter <span>{{client_details.twitter}}</span></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client_details.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client_details.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client_details.phone}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client_details.phone}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{client_details.company}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-primary"
                  href="{% url 'edit-client' client_details.id %}" >Edit</a>
                  <a class="btn btn-danger"
                  href="{% url 'delete-client' client_details.id %}" >Delete</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Projects</h6>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><small>Name</small></th>
                                <th><small>Started</small></th>
                                <th><small>Type</small></th>
                                <th><small>Status</small></th>
                            </tr>
                        </thead>
                        <tbody>
        
                            {% for project in projects %}
                            <tr>
                                <td><a href=""> <small>{{project.name}}</small></a></td>
                                <td><small>{{project.email}}</small></td>
                                <td><small>{{project.project_type}}</small></td>
                                <td><small>{{project.status}}</small></td>
                            </tr>
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>

{% endblock %}