{% extends 'cms/base.html' %}
{% block content %}
<style>
    :root{
        --completed: {{y}}%;
        --uncompleted: {{x}}%;
    }
</style>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Completed Tasks -->
        <div class="col-xl-4 col-md-3 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Completed Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{y}}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: var(--completed)"
                                            aria-valuenow="{{y}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pending Tasks -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pendig Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{x}}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: var(--uncompleted); color: green !important;"
                                            aria-valuenow="{{x}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Pending  Tasks -->
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Yobrand Pendig Tasks</h6>

                </div>
                <!--y -->
                <div class="card-body">
                    <!-- Task trigger modal -->

                    {% for task in tasks %}
                    {% if task.complete == False %}
                    <a href="{% url 'task' task.id %}">
                        <p><span><i class="far fa-dot-circle" style='color:red'></i><span> </span>{{task.title}}</p>
                    </a>
                    
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Completed  Tasks -->
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Yobrand Completed Tasks</h6>

                </div>
                <!--y -->
                <div class="card-body">
                    <!-- Task trigger modal -->

                    {% for task in tasks %}
                    {% if task.complete %}
                    <a href="{% url 'task' task.id %}">
                        <p><span><i class="far fa-check-circle" style='color:green'></i><span> </span>{{task.title}}</p>
                    </a>
                    
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


</div>
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}